/* ----- Header ----- */

.header a,
a:hover {
    color: #f0ad4e;
    text-decoration: none;
}

.header h1 {
    letter-spacing: 5px;
    font-size: 300%;
}

.header p {
    color: white !important;
    font-size: 120%;
    letter-spacing: 1px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #346270;
}

.nav-pills>li>a {
    color: #f0ad4e;
}

.nav-pills>li>a:hover {
    background-color: #346270;
}

.navbar-inverse {
    padding: 1%;
    border-radius: 0%;
}

/* ----- Slider ----- */

.offer {
    padding:5px 0 15px 0;
    position:relative
}

.offer .container {
    display:flex;
    justify-content:space-between
}

.offer .bgc_y {
    position:absolute;
    left:0;
    top:-20px;
    width:65%;
    height:120%;
    background:rgb(210, 255, 133);
    z-index:-1;
}

.offer__text {
    width:580px
}

.offer__descr {
    font-size:18px;
    margin-top:30px;
    font-weight:300;
    line-height:24px
}

.offer__action {
    display:flex;
    align-items:center;
    justify-content:flex-end
}

.offer__advantages {
    width:330px;
    margin-top:50px
}

.offer__advantages h2 {
    font-weight:700;
    font-size:20px;
    margin-top:20px
}

.offer__advantages h2:first-child {
    margin-top:70px
}

.offer__advantages-text {
    margin-top:20px;
    font-size:18px;
    font-weight:300;
    line-height:21px
}

.offer__slider {
    width:800px;
    margin-top:50px;
    display:flex;
    flex-direction:column;
    align-items:flex-end
}

.offer__slider-counter {
    display:flex;
    width:180px;
    align-items:center;
    font-size:24px;
    color:rgba(0,0,0,.5)
}

.offer__slider-wrapper {
    width:100%;
    margin-top:15px;
    box-shadow:0 4px 30px rgba(0,0,0,.25)
}

.offer__slider-prev {
    margin-right:10px;
    cursor:pointer
}

.offer__slider-next {
    margin-left:10px;
    cursor:pointer
}

.offer__slider #current {
    font-size:48px;
    font-weight:700;
    color:#000
}

.offer__slide {
    width:100%;
    height:500px
}

.offer__slide img {
    width:100%;
    height:100%;
    object-fit:cover
}

/* ----- Tabs ----- */

.tabcontent img {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

.preview {
    padding:28px 0 100px 0;
    position:relative
}

.preview__life {
    font-weight:700;
    font-size:20px;
    margin-left:35px;
    margin-top:35px
}

.bgc_blue {
    position:absolute;
    right:0;
    top:-15%;
    width:55%;
    height:120%;
    background:rgba(16, 173, 194, 0.747);
    z-index:-1
}

.tabcontainer {
    display:flex;
    width:1130px;
    margin:0 auto;
    box-shadow:0 4px 30px rgba(0,0,0,.25)
}

.tabcontent {
    width:850px;
    position:relative
}

.tabcontent img {
    width:850px;
    height:640px;
    object-fit:cover
}

.tabcontent__descr {
    position:absolute;
    top:200px;
    right:-280px;
    width:280px;
    height:440px;
    background:rgba(253, 255, 141, 0.8);
    padding:10px;
    font-size:18px;
    font-weight:300;
    line-height:36px;
    color:rgba(0,0,0,.7)
}

.tabheader {
    width:280px;
    padding:35px 30px;
    background-color:#fff
}

.tabheader h3 {
    font-weight:700;
    font-size:16px
}

.tabheader__items {
    margin-top:35px;
    padding-left:26px;
    border-left:1px solid #000
}

.tabheader__item {
    font-weight:700;
    font-size:18px;
    font-weight:300;
    margin-top:10px;
    color:rgba(0,0,0,.6);
    cursor:pointer;
    transition:.3s all
}

.tabheader__item_active {
    color:#000;
    font-size:22px;
    font-weight:700
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade1 {
    animation-name: fade; 
    animation-duration: 2.5s;
}

@keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}

/* ----- Calc -----*/

.calculating {
    padding:20px 0
}

.calculating .title {
    text-align:center
}

.calculating__field {
    width:100%;
    margin-top:50px;
    background:rgba(146,242,255,.15);
    padding:30px 0 40px 0
}

.calculating__subtitle {
    text-align:center;
    font-size:18px;
    font-weight:700;
    margin-top:30px
}

.calculating__subtitle:first-child {
    margin-top:0
}

.calculating #gender:after {
    content:'';
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    display:block;
    width:16px;
    height:16px;
    background:url(../icons/switch.svg) center center/cover no-repeat
}

.calculating__choose {
    position:relative;
    display:flex;
    margin-top:30px;
    justify-content:center
}

.calculating__choose-item {
    display:flex;
    align-items:center;
    justify-content:center;
    width:170px;
    height:50px;
    padding:0 10px;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    border:none;
    text-align:center;
    font-size:14px;
    cursor:pointer;
    outline:0;
    transition:.3s all
}

.calculating__choose-item_active {
    color:#fff;
    background-color:#54ed39
}

.calculating__choose_big {
    width:930px;
    justify-content:space-between;
    margin:30px auto 0 auto
}

.calculating__choose_big .calculating__choose-item {
    width:200px
}

.calculating__divider {
    width:490px;
    height:1px;
    margin:40px auto;
    background-color:rgba(0,0,0,.2)
}

/* ----- Adaptive layout ----- */

@media (max-width: 767px) {
    .nav-pills>li {
        float: none;
    }
    .nav-pills {
        text-align: center;
    }
    .header h1 {
        letter-spacing: 5px;
        font-size: 280%;
    }
    .header {
        text-align: center;
    }
}

/* ----- Footer ----- */

footer {
    color: #666;
    background-color: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #efefef;
}
.clear {
    clear: both;
    height: 63px;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Roboto,sans-serif
}
